
<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK</title>

    <link type="text/css" href="{% static 'portfolio/css/styles.css' %}" rel="stylesheet" />
    <script defer src="{% static 'portfolio/js/app.js' %}"></script>

</head>

<body>
    <header>
        <section class="navbar">
            <div id="logo">
                <p class="logo">MK</p>
            </div>
            <nav>
                <ul class="nav_links">
                    <li><a class="navbar-part" href="#contact">КОНТАКТЫ</a>
                    <li><a class="navbar-part" href="{% url 'home'%}#projs">ПРОЕКТЫ</a>
                </ul>
            </nav>
        </section>
    </header>

    {% block content %} {% endblock content %}

    <hr>
    <footer id="contact">
        <footer class="footer-container">
            <section class="copyrights">
                <img src="{% static 'portfolio/img/mini-pic.jpg' %}" class="mini-pic" alt="nofile">
                <figcaption class="love">Made with &#9829;</figcaption>
            </section>
            <article class="navigation">
                <nav>
                    <p>Страницы</p>
                    <ul class="footer-nav">
                        <li><a href="#contact">Контакты</a>
                        <li><a href="#projs">Проекты</a>
                        <li><a href="{% url 'home'%}">Главная</a></li>
                    </ul>
                </nav>
            </article>
            <article class="socials">
                <nav>
                    <p>Ссылки</p>
                    <ul class="footer-nav">
                        <li><a href="https://t.me/morkovvvvvv" target="_blank">Telegram: @morkovvvvvv </a></li>
                        <li><a href="https://github.com/Clankyyy" target="_blank">Github</a>
                        <li><a href="mailto:markkuznetsov74@gmail.com" target="_blank">Mail: markkuznetsov74@gmail.com</a>
                    </ul>
                </nav>

            </article>
        </footer>
    </footer>
</body>

</html>