<!DOCTYPE html>
<html lang="ru">

{% load static %}

<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'portfolio/css/styles.css' %}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MK</title>
</head>

<body>
    <header>
        <div id="logo">
            <p class="logo">MK</p>
        </div>
        <nav>
            <ul class="nav_links">
                <li><a class="navbar-part" href="#">КОНТАКТЫ</a>
                <li><a class="navbar-part" href="{% url 'home'%}">ПРОЕКТЫ</a>
            </ul>
        </nav>
    </header>

    <main role="main">
        <section class="fullname">
            <div class="name">
                <p class="name-text">МАРК</p>
            </div>
            <div class="surname">
                <p class="surname-text">КУЗНЕЦОВ</p>
            </div>
        </section>

        <section class="notation">
            <p class="notation-text">
                Software developer
            </p>
        </section>

        <section class="bio">
            <p>Some my bio</p>
        </section>

        {% for p in projects %}
        <article class="project">
            <section class="img-thumb-paragraph"><img class="img-thumb" src="{{ p.photo.url }}" alt="thb"></section>
            <h2 class="project-title">{{ p.title }}</h2>
            <p class="project-content">{{ p.content }}</p>
        </article>
        {% endfor %}
    </main>

    <footer>
        <p>&copy; HTML CheatSheet</p>
        <address>
            Contact <a href="#">me</a>
        </address>
    </footer>

</body>

</html>