@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200..400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    ;
}

ul,
a {
    color: #D6D6D6;
    text-decoration: none;
}

header {
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
}

div#logo {
    cursor: pointer;
}

.logo {
    color: #FFEE32;
    font-size: 1.2em;
}

.navbar-part {
    font-size: 1.2em;
    font-weight: 300;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FFD100;
}

.fullname {
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
    align-items: center;
}

.name {
    padding-right: 300px;
    transform: translate(24%, 0%);
}

.name-text {
    font-weight: 600;
    letter-spacing: -6.5px;
    font-size: 13vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-optical-sizing: auto;
    font-style: normal;
}

.surname {
    padding-top: 0%;
    transform: translate(50%, -16%);
}

.surname-text {
    font-weight: 600;
    letter-spacing: -6.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13vw;
}

.notation {
    margin-top: 5vh;
    display: grid;
    place-items: end;
    align-content: center;
}

.notation-text {
    transform: translateX(-20%);
}

article.project {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    box-shadow: 6px 6px 20px rgba(164, 158, 158, 0.2);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    background-color: black;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.35);
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
}

.project-title {
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.2);
    grid-column: 2;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project-content {
    padding-left: 1em;
    background: rgba(255, 255, 255, 0.2);
    grid-row: 2;
    grid-column: 2;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.img-thumb-paragraph {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    justify-self: start;
    align-self: center;
    position: relative;
    min-height: 100px;
    border-radius: 15px 0px 0px 15px;
}

.img-thumb {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition-delay: 210ms;
}

.footer-page {
    display: grid;
    background-color: red !important;
}

footer {
    display: flex;
    background-color: #151515;
}

hr {
    border: none;
    height: 1px;
    color: #444343;
    background-color: #444343;
}

.footer-container {
    justify-self: start;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 32px;
    flex-grow: 1;
}

.footer-container * {
    background-color: #151515;
}

.copyrights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.copyrights * {
    background-color: #151515;
}

.mini-pic {
    align-self: flex-start;
    height: 72px;
    width: 72px;
    border-radius: 12px;
}


.love {
    font-size: 0.62em;
    opacity: 0.6;
    font-weight: 300;
}

.navigation {
    grid-row: 1 /1;
    grid-column: 2 / 2;
    font-weight: 200;
}

.socials {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
    font-weight: 200;
}

.footer-nav {
    list-style: none;
    display: inline;
}

.footer-nav li a {
    transition: all 0.3s ease 0s;
    font-size: 0.75em;
}

.footer-nav li a:hover {
    color: #FFD100;
}